---
---
@font-face {
	font-family:"Bebas";
	src:url('{{ site.url }}/assets/fonts/Bebas/Bebas.eot');
	src:url('{{ site.url }}/assets/fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
	url('{{ site.url }}/assets/fonts/Bebas/Bebas.woff2') format('woff2'),
	url('{{ site.url }}/assets/fonts/Bebas/Bebas.woff') format('woff'),
	url('{{ site.url }}/assets/fonts/Bebas/Bebas.ttf') format('truetype'),
	url('{{ site.url }}/assets/fonts/Bebas/Bebas.svg#svgFontName') format('svg');
}
@font-face {
	font-family:"Quicksand";
	src:url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.eot');
	src:url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.eot?#iefix') format('embedded-opentype'),
	url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.woff2') format('woff2'),
	url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.woff') format('woff'),
	url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.ttf') format('truetype'),
	url('{{ site.url }}/assets/fonts/Quicksand/Quicksand.svg#svgFontName') format('svg');
}