<header class="navbar-buttons-simple">
	<div class="max-width-container">
		<div class="flex flex-row justify-between items-end">
			<a href="#LINK">
				<img class="logo" src="assets/images/logo_blakedavies.net_50x50.png" alt="Blake Davies Logo"/>
				<p class="logo-name">Blake Davies</p>
			</a>
			<nav class="navbar-static">
				<ul class="flex flex-row items-end">
					{% for item in site.data.navigation.website-pages %}
						<li>
							<a class="{% if item.subfolderitems[0] %}submenu-trigger{% endif %}" href="{{ item.url }}">{{ item.page }}</a>
							{% if item.subfolderitems[0] %}
								<ul class="submenu">
									{% for entry in item.subfolderitems %}
										<li>
											<a href="{{ entry.url }}">{{ entry.page }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
			<div class="menu-icon hamburger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="navbar-slider text-center flex flex-col p-15">
				<ul class="centered-box flex flex-col justify-around flex-grow-1">
					<li>
						<a href="#LINK" class="current-page">Home</a>
					</li>
					<li>
						<a href="#LINK">About</a>
						<ul class="submenu">
							<li>
								<a href="#LINK">About Blake Davies</a>
							</li>
							<li>
								<a href="#LINK">FAQs</a>
							</li>
							<li>
								<a href="#LINK">Articles</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#LINK">Solutions</a>
						<ul class="submenu">
							<li>
								<a href="#LINK">Website Design & Hosting</a>
							</li>
							<li>
								<a href="#LINK">Graphic Design</a>
							</li>
							<li>
								<a href="#LINK">Professional Email</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#LINK">Pricing</a>
					</li>
					<li>
						<a href="#LINK">Contact</a>
					</li>
					<li>
						<a href="#LINK">Gallery</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>